<% include layout/header %>

<div class="container" style="margin-top: 100px">
<h1>An Error occured</h1>
<h3>Please try another time</h3>
<hr>
<a href="/cards" class="btn btn-lg btn-primary" ><strong>View All Postcards</strong></a>

</div>

<% include layout/footer %>