body {
    background-color: #000;
    background-image: url(https://res.cloudinary.com/dvxg0c42k/image/upload/v1533121242/avdat.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #000;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em blue;
}
